@model Rexa.Models.v_Group
@{
    ViewBag.Title = "ویرایش " + Model.Name;
}
<form method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="ParentId" value="@Model.ParentId"/>

    <label for="Title">عنوان</label>
    <input type="text" name="Name" value="@Model.Name" />


    <label for="Publish">
        <input type="checkbox" name="Publish">
        نمایش برای عموم
    </label>
    <input type="submit" value="به روز رسانی" />
    @Html.ActionLink("قصد ویرایش ندارم", "Index", new { controller = "Menu", id = Model.Id })
</form>
